<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PetYeeter.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <PetYeeter.config>
            <setting name="drawingUnit" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="cattex" serializeAs="String">
                <value>/tex/cat.png</value>
            </setting>
            <setting name="dogtex" serializeAs="String">
                <value>/tex/dog.png</value>
            </setting>
        </PetYeeter.config>
    </applicationSettings>
</configuration>